
<div class="container color-dark">
    <h1>Check out new</h1>
</div>    

<div class="container color-light">
    
  
<div class="col">
  <input type="text" class="txt" [(ngModel)]="title" name="title" placeholder="Title..">
  <textarea class="txt" [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
  <input type="submit" class="btn" value="Add a Post" (click)="addPost()">

</div>

<div class="col">
  <ul *ngFor="let post of posts | async">
    <li (click)="getPost(post.id)">
      <strong>{{ post.data.title}}</strong> (<a href="content" (click)="deletePost(post.id)">delete</a>)
      <br>      
      {{post.data.content}}
    </li>
  </ul>
</div>
</div>
